@import './../../../common/styles/sass/variables';
@import './../../../common/styles/sass/mixins';

.project {
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: $cardColor;
  margin-bottom: 20px;

  .image {
    @include flex(row, center, center, nowrap);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: #000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .project_btn {
      @include text($textFontFamily, 500, 1.5, 16px);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 16px 40px;
      border-radius: 500px;
      display: inline-block;
      transition: all .4s ease-in-out;
      background-size: 152% 100%;
      background: $primaryColor;
      border: 2px solid $primaryColor;
      position: relative;
      z-index: 1;
    }
  }

  .project_info {
    padding: 25px 20px;

    .project_title {
      @include text($titleFontFamily,300,1.2,18px );
      letter-spacing: 1px;
      margin: 0 0 5px;
      color: $thirdColor;
    }

    .description {
      @include text($textFontFamily, 400, 1.8, 14px)
    }
  }
}






