$textColor: #fff;
$primaryColor: #1c99fe;
$secondaryColor: #fd4766;
$thirdColor: #7644ff;
$bgSecondColor: #101010;
$bgColor: #191919;
$cardColor: #0C0C0C;
$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily:'Poppins', sans-serif;
